body
{
    background-color: rgba(0, 0, 0, 0.552);
}
.node {
    
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 0.6;

}
.link {
    stroke: #e59999;
    stroke-opacity: 0.6;
}
#graph
{
    width: 100%;
    height: 90vh;
    background-color: black;
}
/* Navigation bar styles */
.navbar {
background-color: #333;
overflow: hidden;
}

/* Navigation links */
.navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.highlighted {
stroke: rgb(78, 79, 75); /* Change the color to highlight */
stroke-width: 8px;
}
.hiddenNodes
{
    opacity: 0.3;
}
/* Search box styles */
.search-container {
float: right;
}

.search-container input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
}

/* Style the search button */
.search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}
#tooltip {

position: absolute;
background: white;
/* padding: 10px; */
border: 1px solid #ccc;
border-radius: 5px;
max-width: 400px;
height: fit-content;
/* pointer-events: none; */
font-size: 8px;
min-height: 30px;
overflow:scroll;
}

#tooltip :hover
{
    visibility: visible;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    /* padding: 10px; */

}
.highlighted-link {
stroke-width: 3px;
stroke-opacity: 1;
stroke:rgb(101, 103, 102);
}
.sidebar {
/* position: fixed; */
/* top: 0;
right: 0; */
/* width: 100%; */
height: 100%;

background-color: #f0f0f0;
padding: 20px;
overflow-y: auto;
/* display: none;  */
}

#additionalData {
    /* Adjust width as needed */
    height: 90vh;
    overflow: scroll; /* Adjust height as needed */
    background-color: #f8f9fa; /* Change background color as needed */
    border-left: 1px solid #dee2e6; /* Add border for separation */
}

/* table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: top; 
}
th, td {
    width: 33.33%;
}
td {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
} */

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    overflow:scroll;
    /* white-space: nowrap; */
    /* writing-mode: sideways-lr; */
    word-wrap: break-word;
    vertical-align: top; 
    text-wrap:pretty;
    /* text-overflow: ellipsis;  */
  }
  .graph-div
  {
    height: 200%;
    background-color: antiquewhite;
  }

  .navbar-css{
    margin-left: 40rem;
    margin-bottom: -20px;
    background-color: gray;
    border: grey;
  }